/* background color: rgb(243, 251, 255) */

body{
    padding-top: 60px;
    background-color: rgb(243, 251, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}



.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 139, 204, 0.25);
    background-color: rgb(243, 251, 255);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

#logo{
    color: rgb(0, 139, 204);
    font-weight:900;
    font-size: 24px;
    transition: transform 0.1s;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Heading{
    margin:10px 0px 10px;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: space-between;
    padding: 40px;
    box-shadow: inset 0 0 10px 2px rgba(0, 139, 204, 0.25);
    border-radius: 10px;
}

.role-sel, .name-inp, .id-inp, .email-inp, .pass-inp{
    display: flex;
    flex-direction: column;
}

#reg-btn {
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 999px;
    border: none;
    background-color: rgb(0, 139, 204);
    color: rgb(243, 251, 255);
    transition: transform 0.1s;
}

#reg-btn:active {
    transform: scale(0.96);
}

.input, .role{
    margin-top: 4px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
    padding: 4px 8px;
}

.input:focus, .role:focus {
    border: 1px solid rgb(0, 139, 204);
    outline: none;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.alr-reg{
    margin-top: 10px;
}

.login{
    text-decoration: none;
    color: rgb(0, 139, 204);
    font-weight: bold;
    margin-left: 5px;
}

button:hover, a:hover{
    opacity: 0.75;
    transition: transform 0.1s;
}

button:hover{
    transform: scale(0.96);
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #181f25;
    color: rgb(243, 251, 255);
  }
  .header {
    background-color: #181f25;
    color: rgb(243, 251, 255);
    border-bottom: 1px solid rgba(0, 191, 255, 0.18); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }
  #logo {
    color: #00bfff;
  }
  .register-form {
    background-color: #181f25;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 191, 255, 0.18);
  }
  .input, .role {
    background: #181f25;
    color: rgb(243, 251, 255);
    border: 1px solid #444;
  }
  .input:focus, .role:focus {
    border: 1px solid #00bfff;
  }
  #reg-btn {
    background-color: #00bfff;
    color: #181f25;
  }
  .login {
    color: #00bfff;
  }
  .log-text {
    color: rgb(243, 251, 255);
  }
}