
@media (prefers-color-scheme: dark) {
  body,
  .header {
    background-color: #181f25;
    color: #eaf6fb;
  }
  #logo {
    color: #00bfff;
  }
  .register-form, .login-form {
    background-color: #181f25;
    box-shadow: inset 0 0 10px 2px rgba(0, 191, 255, 0.18);
  }
  .input, .role {
    background: #181f25;
    color: #eaf6fb;
    border: 1px solid #444;
  }
  .input:focus, .role:focus {
    border: 1px solid #00bfff;
  }
  #reg-btn, #login-btn {
    background-color: #00bfff;
    color: #181f25;
  }
  .login, .reg {
    color: #00bfff;
  }
  .log-text {
    color: #eaf6fb;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .header {
    background-color: #181f25;
    color: #eaf6fb;
  }
  #logo {
    color: #00bfff;
  }
  #user-popup {
    background: #181f25;
    color: #eaf6fb;
    border: solid 1px #444;
    box-shadow: 0 2px 8px rgba(0, 191, 255, 0.18);
  }
  #user-popup p {
    color: #00bfff;
  }
  #signout-btn, .header-btn {
    background-color: #00bfff;
    color: #181f25;
  }
  .header-btn {
    border: none;
  }
}
